<header id="header">
  <nav class="blur-01">
    <ul>
      <li>
        <a class="header-title btn btn-text" href="{{ .Site.Home.RelPermalink }}">
          {{ .Site.Title }}
        </a>
      </li>
    </ul>

    <ul>
      {{ if site.Menus.main }}
        <li>
          <button class="btn btn-text" id="menu-toggle" aria-expanded="false" type="button" title="{{ T "menu" }}">
            <span class="icon icon-menu">
              {{ partial "icons/hero.html" (dict "name" "bars-3" "type" "outline") }}
            </span>
            <span class="icon icon-close hidden">
              {{ partial "icons/hero.html" (dict "name" "x-mark" "type" "outline") }}
            </span>
          </button>
        </li>
      {{ end }}
    </ul>
  </nav>

  {{ partial "menu.html" . }}
</header>
