{{ define "main" }}
  {{ partial "title.html" . }}

  {{ range $taxonomy, $termsMap := .Site.Taxonomies }}
    {{ if $termsMap }}
      <section class="terms">
        <div class="title">
          {{ $taxonomy }}
        </div>
        <div class="list">
          {{ range $term, $weightedPages := $termsMap }}
            {{ $pagePath := printf "/%s/%s" $taxonomy ($term | urlize) }}
            {{ partial "term-list.html" (dict
              "Term" $term
              "Pages" $weightedPages
              "Count" (len $weightedPages)
              "Page" ($.Site.GetPage $pagePath)
              )
            }}
          {{ end }}
        </div>
      </section>
    {{ end }}
  {{ end }}

{{ end }}
