@import "../lib/flickr-justified-gallery/fjGallery";

body > main > section.gallery {
  margin-left: 1rem;
  margin-right: 1rem;

  .fj-gallery-item {
    overflow: hidden;
    border-radius: 0.5rem;
  }
}
