{{ $album := dict }}

{{ $resources := .Resources.ByType "image" }}
{{ $galleries := partial "utils/get-gallery.html" . }}
{{ if gt (len $galleries) 0 }}
	{{ $cover := (index $galleries 0).image }}
	{{ range first 1 (where $resources "Params.cover" "==" true) }}
		{{ $cover = . }}
	{{ end }}
	{{ $cover = partial "funcs/image/watermark.html" (dict "image" $cover "page" $) }}

	{{ $albumCount := 0 }}
	{{ $imageCount := 0 }}
	{{ if .IsPage }}
		{{ $imageCount = len $galleries }}
	{{ else }}
		{{ range partial "utils/filter-pages.html" .RegularPagesRecursive }}
			{{ $galleries := partial "utils/get-gallery.html" . }}
			{{ $galleriesLen := len $galleries }}
			{{ if gt $galleriesLen 0 }}
				{{ $albumCount = add $albumCount 1 }}
				{{ $imageCount = add $imageCount $galleriesLen }}
			{{ end }}
		{{ end }}
	{{ end }}

	{{ $album = dict
		"cover" $cover
		"albumCount" $albumCount
		"imageCount" $imageCount
	}}
{{ end }}

{{ return $album }}
