{{ define "main" }}
{{ partial "components/title.html" $ }}
{{ range $taxonomy, $terms := $.Site.Taxonomies }}
	{{ if $terms }}
		<section class="terms">
			<div class="terms-title">
				<a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
			</div>
			<div class="term-list">
				{{ range $terms.Alphabetical }}
					{{ partial "components/term.html" (dict
						"Term" .Term
						"Page" .WeightedPages.Page
						"Count" .WeightedPages.Count
						"WeightedPages" .WeightedPages
						)
					}}
				{{ end }}
			</div>
		</section>
	{{ end }}
{{ end }}
{{ end }}
