{{ define "main" }}
{{ partial "components/title.html" $ }}
{{ range $taxonomy, $terms := $.Site.Taxonomies }}
	{{ if $terms }}
		{{ $taxonomyPage := $.Site.GetPage (printf "/%s" $taxonomy) }}
		<section class="terms">
			<div class="terms-title">
				<a href="{{ $taxonomyPage.RelPermalink }}">{{ $taxonomy | humanize | title }}</a>
			</div>
			<div class="term-list">
				{{ range $term, $weightedPages := $terms }}
					{{ $pagePath := printf "/%s/%s" $taxonomy ($term | urlize) }}
					{{ partial "components/term.html" (dict
						"Term" $term
						"Pages" $weightedPages
						"Count" (len $weightedPages)
						"Page" ($.Site.GetPage $pagePath)
						)
					}}
				{{ end }}
			</div>
		</section>
	{{ end }}
{{ end }}
{{ end }}
